*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(../A-4/DSC_0160.JPG);
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 30%;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 7px 25px;
    border: 3px solid #fff;
}
.imageclass{
    position: absolute;
    margin-top: 100px;
    margin-right: 100px;
}
img{
    border: 5px solid red;
    height: 400px;
    margin-left: 60%;
    margin-top: 100px;
}
.hello{
    position: absolute;
    margin-top: 300px;
    margin-left: 800px;
    color: white;
    text-shadow: 4px 4px 5px red;
}
p{
    text-align: center;
    font-size: 15px;
   
}